/src/.vs
/src/bin
/src/obj
/src/*.user
/bin/*.pdb
/bin/GegevensVergelijker.vshost.exe
/bin/GegevensVergelijker.vshost.exe.config
/bin/GegevensVergelijker.vshost.exe.manifest
/bin/*.laccdb
/src/DemoData.accdb
/src/ISpiegel.accdb
