/src/.vs
/src/ISpiegel.Providers.FileSystem/bin
/src/ISpiegel.Providers.FileSystem/obj
/src/ISpiegel/*.accdb
/src/ISpiegel/*.user
/src/ISpiegel/bin
/src/ISpiegel/obj
/src/packages/
/src/ISpiegel.Providers.OData/bin/Debug
/src/ISpiegel.Providers.OData/bin/Release
/src/ISpiegel.Providers.OData/obj/Debug
/src/ISpiegel.Providers.OData/obj/Release
/src/ISpiegel/*.laccdb
/src.backup/.vs/ISpiegel/v16/*.suo
