<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GegevensVergelijker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Hodor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Hodor.Properties.Settings.databaseconnection" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=data\reporting.mdb" />
        <add name="GegevensVergelijker.Properties.Settings.databaseconnection"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=${WORKING_DIRECTORY}\data\reporting.mdb" />
    </connectionStrings>
    <applicationSettings>
        <GegevensVergelijker.Properties.Settings>
            <setting name="databaseprovider" serializeAs="String">
                <value>System.Data.OleDb</value>
            </setting>
            <setting name="email_receiver" serializeAs="String">
                <value>eduard@witteveen-automatisering.nl</value>
            </setting>
            <setting name="email_subject" serializeAs="String">
                <value>GegevensVergelijker</value>
            </setting>
            <setting name="email_from" serializeAs="String">
                <value>eduard@witteveen-automatisering.nl</value>
            </setting>
            <setting name="email_smtp" serializeAs="String">
                <value>mailserver</value>
            </setting>
        </GegevensVergelijker.Properties.Settings>
    </applicationSettings>
</configuration>